nav ul {
    display: flex;
    width: 100%;
    list-style: none;
}

nav ul li {
    margin: 0 6px;
}

nav li a {
    color: blue;
}

nav li a.active {
    color: lightseagreen;
}

main {
    max-width: 1180px;
    margin: 0 auto;
    padding: 24px 12px;
}
