<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

    <ul class="menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users">List of users</a>
        </li>
        <li>
            <a href="/create-user">Create User</a>
        </li>
    </ul>

    <div class="wrap-page">
        <h1>List of users</h1>

        <ul>
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
        </ul>
    </div>
    
</body>
</html>